<!DOCTYPE html>

<!-- Special file meaning it will be served up by default at show up at the root of the website -->

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <h2>Just a {{priorExperience}} delivering you the weather any time you want</h2>
        
        <p>This site was created by {{name}}. It uses data from Geocode.com and Mapbox.com to deliver real-time weather data based on the location of your choice. Hope you enjoy, if not you can use Yahoo weather which is likely more accurate anyway...</p>

        <img src="/img/robot.png" class="portrait"> 
    </div>
    
        {{>footer}} 
</body>

</html>