<!DOCTYPE html>

<!-- Special file meaning it will be served up by default at show up at the root of the website -->

<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>{{helpMessage}}</p>    
    </div>

    {{>footer}} 
</body>

</html>